/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SEZIONE DEL CONTENUTO */
#principal{
  height: calc(100vh - 100px);
  display: flex;
}

/* MENU LATERALE */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  max-height: 100%;
  /* debug */
  background-color: grey;
}

/* contenuto superiore */
.top-content{
  background-color: orange;
}

/* contenitore della playlist */
.playlist{

}

/* contenuto inferiore */
.bottom-content{
  background-color: pink;
}

/* CONTENITORE PRINCIPALE */
.container{
  flex-grow: 1;
  height: 100%;
  /* debug */
  background-color: lightgrey;
}

/* BARRA SUPERIORE */
.top-bar{
  height: 100px;
  text-align: right;
  /* debug */
  background-color: lightgreen;
}

/* bottone */
button{
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 20px;
  border: 2px solid #fff;
  /* debug */
  background-color: #000;
  color: #fff;
}

/* SEZIONE DEL PLAYER */
#player{
  min-height: 100px;
  /* debug */
  background-color: lightblue;
}
