/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.text{
  color: #7d7f84;
}

/* SEZIONE DEL CONTENUTO */
#principal{
  height: calc(100vh - 100px);
  display: flex;
  overflow: hidden;
}

/* MENU LATERALE */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #000;
}

.menu a{
  display: block;
  margin-top: 5px;
  color: #7d7f84;
}

/* contenuto superiore */
.menu .top-content{
  padding-right: 25%;
}

.menu .top-content .logo{
  margin-bottom: 20px;
}

.menu .top-content h3{
  margin-top: 30px;
}

/* contenitore della playlist */
.menu .playlist{

}

/* contenuto inferiore */
.menu .bottom-content hr{
  margin-top: 10px;
}

/* CONTENITORE PRINCIPALE */
.container{
  flex-grow: 1;
  max-height: 100%;
  overflow: auto;
  color: #fff;
  background-color: #141922;
}

.container h2, .text{
  margin-left: 10px;
}

.container .text , h3{
  margin-top: 10px;
}

.container-photos{
  display: flex;
  margin: 30px 0;
}

.container-photos .photo{
  text-align: center;
  width: calc(100% / 6);
}

.container-photos img{
  max-width: 90%;
  height: auto;
}

/* BARRA SUPERIORE */
.top-bar{
  width: calc(100% - 200px);
  height: 100px;
  text-align: right;
  padding-right: 10px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

/* bottone */
.top-bar button{
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* LISTA PAGINE */
.container ul{
  margin-top: 120px;
  margin-bottom: 10px;
  text-align: center;
}

.container ul li{
  display: inline-block;
  margin: 0 10px;
}

/* SEZIONE RECENTI */
.recent .container-photos{
  justify-content: space-between;
}

/* SEZIONE POPOLARI */
.popular .container-photos .photo img{
  border-radius: 50%;
}

/* SEZIONE DEL PLAYER */
#player{
  display: flex;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

/* contenuto sinistro */
#player .left-content{
  width: 200px;
  background-color: red;
}

/* contenuto centrale */
#player .central-content{
  flex-grow: 1;
  background-color: green;
}

/* contenuto destro */
#player .right-content{
  width: 200px;
  background-color: yellow;
}
