/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* SEZIONE DEL CONTENUTO */
#principal{
  height: calc(100vh - 100px);
  display: flex;
}

/* MENU LATERALE */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: calc(100% - 100px);
  position: fixed;
  /* debug */
  background-color: grey;
}

/* contenuto superiore */
.menu .top-content{
  background-color: orange;
}

/* contenitore della playlist */
.menu .playlist{

}

/* contenuto inferiore */
.menu .bottom-content{
  background-color: pink;
}

/* CONTENITORE PRINCIPALE */
.container{
  flex-grow: 1;
  max-height: 100%;
  padding-left: 200px;
  overflow: auto;
  /* debug */
  background-color: lightgrey;
}

.photo{
  text-align: center;
}

.container-photos img{
  max-width: 200px;
  height: auto;
}

/* BARRA SUPERIORE */
.top-bar{
  width: calc(100% - 200px);
  height: 100px;
  text-align: right;
  position: fixed;
  /* debug */
  background-color: lightgreen;
}

/* bottone */
.top-bar button{
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 20px;
  border: 2px solid #fff;
  /* debug */
  background-color: #000;
  color: #fff;
}

/* LISTA PAGINE */
.container ul{
  padding-top: 100px;
  text-align: center;
}

.container ul li{
  display: inline-block;
  margin: 0 10px;
}

/* SEZIONE RECENTI */
.recent{

}

.recent .container-photos{
  display: flex;
  justify-content: space-between;
}

/* SEZIONE CREATI PER */
.create{

}

.create .container-photos{
  display: flex;
}

/* SEZIONE POPOLARI */
.popular{
  
}

.popular .container-photos{
  display: flex;
}

.popular .container-photos .photo img{
  border-radius: 50%;
}

/* SEZIONE DEL PLAYER */
#player{
  display: flex;
  min-height: 100px;
  position: fixed;
  width: 100%;
}

/* contenuto sinistro */
#player .left-content{
  width: 200px;
  background-color: red;
}

/* contenuto centrale */
#player .central-content{
  flex-grow: 1;
  background-color: green;
}

/* contenuto destro */
#player .right-content{
  width: 200px;
  background-color: yellow;
}
